.Data > * {
  padding-top: 1rem;
  padding-bottom: 0.3rem;
}

.Data > p {
  padding: 0;
}

.Image {
  width: 100%;
}

@media screen and (max-width: 450px) {
    
  .Showcase {
    display: none;
  }
}