@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

:root {
  --color-primary: #494949;
  --color-grey: #eeeeee;
  --color-dark-grey: #776666;
  --color-gold: #e67700;
  --color-blue: #3184f0;

  --header-height: 40px;
  --header-padding: 5px;

  --z-index-menu: 1000;
  --z-index-overlay: 999;
}

html {
  box-sizing: border-box;  
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  line-height: 1.7;
  font-family: -apple-system,
              "Spectral",
              "BlinkMacSystemFont",
              "Segoe UI",
              "Roboto",
              "Oxygen",
              "Ubuntu",
              "Cantarell",
              "Fira Sans",
              "Droid Sans",
              "Helvetica Neue",
              "sans-serif";
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(85, 85, 85);
}

h1 {
  color:  steelblue;
}


a {
  color:rgb(85, 85, 85);
  text-decoration: none;
  transition: all 0.5s;
}

a:hover {
  transition: all 0.2s ease-in;
  color:rgba(0, 98, 255, 0.904);
}

.figure {
  max-width: 1500px;
}

.figure_side_image {
  margin-right: 10px;
  width: 300px;
  height: 300px;
  color: #111;
  
  text-align: center;
  font-size: 90px;
  float:left;
}

.figure__caption {
  text-align: center;
  color: var(--color-primary, #000);
  padding-bottom: 0.1rem;
  border-bottom: 2px solid var(--color-grey, #000);
}

/* SPECIFIC PAGE CSS */
.PageInfo {
  background-color: black;
}

/* .searchForm {
}
.inputForm {
  min-width: 350px;
  border-radius: 5px;
  padding: 5px;
  border: 10px, solid;
} */

/* SEARCH BAR */
.container {
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 500px;
  height: 100px;
}
.container .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: rgba(20, 147, 220, 0.801);
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}
.container .search:hover {
  cursor: pointer;
}

.container .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}

.container .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}

.container input {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
  background: rgba(77, 161, 218, 0.8);
  color: white;
  text-shadow: 0 0 5px rgba(20, 140, 220);
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 5px 0 rgb(20, 140, 220), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.9s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.container input:hover {
  cursor: pointer;
  background: rgb(20, 147, 220);
}
.container input:focus {
  width: 500px;
  opacity: 1;
  cursor: text;
}
.container input:focus ~ .search {
  right: -510px;
  background: #151515;
  z-index: 6;
}
.container input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.container input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.container input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

/* SOCIAL ICONS */
.fa {
  padding: 8px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}



/* RESPONSIVE PART */
@media only screen and (max-width: 450px) {
  body.open {
    overflow: hidden;
  }

  .container input:focus {
    width: 300px;
  }

  .container {
    width: 300px;
  }

  .container input {
    transition: all 1.2s;
  }

  .container input:focus ~ .search {
    right: -250px;
    background: #151515;
    z-index: 6;
  }
}