.MainContent {
    display: flex;
    height: 100%;
}

.Main {
    min-width: 75%;
    flex: 1;
}

.Aside {
    min-width: 25%;
    padding-top: 0.7rem;
    padding-left: 1rem;
    font-size: 14px;
}

.socialMedia {
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.socialMedia .headerTitle {
    color: cornflowerblue;
}

/* .popular {

} */

.popular .headerTitle {
    color:cornflowerblue;
}

.unorderedList {
    list-style-type: none;
}

.listItem {
    list-style-type: none;
}

/* .AsideJobItem {
    text-align: center;
    margin: 3px;
}

.AsideStatistics {
    text-align: center;    
}

.headerTitle {
    color: cornflowerblue;
} */

@media only screen and (max-width: 450px) {
    .Aside {
      display: none;
      transition: all 0.25s linear;
    }
  }