.MainContent {
    display: flex;
    height: 100%;
}

.Main {
    min-width: 85%;
    flex: 1;
}

.Aside {
    min-width: 15%;
    padding-top: 3rem;
    padding-left: 1rem;
    font-size: 14px;
}

.AsideJobItem {
    text-align: center;
    margin: 3px;
}

.AsideStatistics {
    text-align: center;    
}


@media only screen and (max-width: 450px) {
    .Aside {
      display: none;
      transition: all 0.25s linear;
    }
  }